In [1]:
import numpy as np
import pandas as pd
import tensorflow 
import keras

In [2]:
df=pd.read_csv("Churn_Modelling.csv")

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df=pd.get_dummies(columns=["Geography","Gender"],data=df)

In [5]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,1,15634602,Hargrave,619,42,2,0.00,1,1,1,101348.88,1,True,False,False,True,False
1,2,15647311,Hill,608,41,1,83807.86,1,0,1,112542.58,0,False,False,True,True,False
2,3,15619304,Onio,502,42,8,159660.80,3,1,0,113931.57,1,True,False,False,True,False
3,4,15701354,Boni,699,39,1,0.00,2,0,0,93826.63,0,True,False,False,True,False
4,5,15737888,Mitchell,850,43,2,125510.82,1,1,1,79084.10,0,False,False,True,True,False

In [6]:
df.shape

(10000, 17)

In [7]:
df.isnull().sum()

RowNumber            0
CustomerId           0
Surname              0
CreditScore          0
Age                  0
Tenure               0
Balance              0
NumOfProducts        0
HasCrCard            0
IsActiveMember       0
EstimatedSalary      0
Exited               0
Geography_France     0
Geography_Germany    0
Geography_Spain      0
Gender_Female        0
Gender_Male          0
dtype: int64

In [8]:
df=df.drop(["RowNumber","CustomerId","Surname"],axis=1)

In [9]:
df.shape

(10000, 14)

In [10]:
X=df.drop("Exited",axis=1)
Y=df[["Exited"]]

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)

In [13]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [14]:
model=Sequential()

In [15]:
model.add(Dense(units=6,kernel_initializer="uniform",activation="relu",input_dim=13))
model.add(Dense(units=6,kernel_initializer="uniform",activation="relu"))
model.add(Dense(units=1,kernel_initializer="uniform",activation="sigmoid"))

C:\Users\Premalatha\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:88: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [16]:
model.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])

In [17]:
model.fit(X_train,Y_train,batch_size=10,epochs=10,validation_split=0.1)

Epoch 1/10
630/630 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - accuracy: 0.7494 - loss: 0.7653 - val_accuracy: 0.7800 - val_loss: 0.5370
Epoch 2/10
630/630 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8053 - loss: 0.5028 - val_accuracy: 0.7800 - val_loss: 0.5421
Epoch 3/10
630/630 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7947 - loss: 0.5230 - val_accuracy: 0.7800 - val_loss: 0.5366
Epoch 4/10
630/630 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7998 - loss: 0.5073 - val_accuracy: 0.7800 - val_loss: 0.5470
Epoch 5/10
630/630 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8025 - loss: 0.5047 - val_accuracy: 0.7800 - val_loss: 0.5242
Epoch 6/10
630/630 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8012 - loss: 0.5024 - val_accuracy: 0.7800 - val_loss: 0.5248
Epoch 7/10
630/630 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7979 - loss: 0.5056 - val_accuracy: 0.7800 - val_loss: 0.5222
Epoch 8/10
630/630 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8014 - loss: 0.4979 - val_accuracy: 0.7800 - val_loss: 0.5239
Epoch 9/10
630/630 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8038 - loss: 0.4957 - val_accuracy: 0.7800 - val_loss: 0.5234
Epoch 10/10
630/630 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8126 - loss: 0.4840 - val_accuracy: 0.7800 - val_loss: 0.5246